{% extends 'APPLICATION1/main.html'%}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <h2>ABOUT US</h2>
    <p>Welcome to Web Lib,your number one source for all the books of your interest.We're
        dedicated to providing you the very best of the library services that may include borrowing books ,exhibation
        of some up raising writers and promote Education at most in the society.
         </p>
         <p1>This application was founded in 2022 by team of software developers with the aim of easing 
             the library management system in physical terms as it was complicated in managing in a large
             society.
         </p1>
         <p>  * TheWeb Lib enables the session of reading any book of your choice in a given duration by
                 by the system . </p>
         <p>  * In this system the user can borrow a book after clicking on the on the borrowing option.
              The User's crediantals are taken and the User is given a duration on when to return
              the book so as that it can be available for others. Failure to return the book,the User
              is disabled from accessing the borrowing option and given a penalty on the time the student 
              decides to return the book.  
         </p> 
         <p> Incase more details and help on the system how it operates try to reach us through the following links 
           and we see how we can help you and be able to access our services with ease and comfort.
         </p>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>
{% endblock content %}